:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --Outfit-font: 'Outfit', sans-serif;
}

body {
    background-color: var(--Light-gray);
    font-family: var(--Outfit-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4em;
}

.main_container {
    background-color: var(--White);
    width: 70vw;
    border-radius: 10px;
}

.container__qr-code {
    padding: 1em;  
    display: flex;
    justify-content: center;
}

.qr-code {
    align-items: center;
    width: 60vw;
    border-radius: 10px;
}

.qr-code:hover {
    transform: scale(1.03);
    transition: 0.8s;
}

.container__description {
    padding: 1em; 
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description__title {
    margin: 0 0 1em 0;
    font-weight:700;
    font-size: 20px;
    color: var(--Dark-blue);
}

.description__text {
    font-weight:400;
    font-size: 15px;
    color: var(--Grayish-blue);
    margin-bottom: 1.5em;
}

.attribution {
    margin-top: 1em;
}

.attribution a {
    text-decoration: none;
    color: var(--Grayish-blue);
}


@media screen and (min-width: 1440px) {
    .main_container {
        width: 24vw;
    }

    .qr-code {
        width: 22vw;
    }
        
}



@media screen and (min-width: 1024px) {
    .main_container {
        width: 24vw;
    }

    .qr-code {
        width: 22vw;
    }
        
}

@media screen and (min-width: 800px) {
    .main_container {
        width: 24vw;
    }

    .qr-code {
        width: 22vw;
    }
        
}